#container[draggable="true"]{
	display: none;
	position: fixed;
	border-radius: 0.5em;
	font-family: 'Special Elite', cursive;
	user-select: none;
	overflow: hidden;
	z-index: 2147483647;
	cursor: move;
	border: 0.4em solid #e5d5c2;
}

#capslock{
	background-color: #ccac86;
	border: 1px solid white;
	padding: 0.3em;
	border-radius: 2em;
	position: absolute;
	left: 0.9em;
	top: 0.5em;
	font-size: 1.4em;
	color: white;
	box-shadow: 0 6px #999;
}

#keyboard{
	margin: 3.5em auto;
}

.letter{
	font-size: 1.4em;
	color: white;
	border: 1px solid white;
	width: 1.6em;
	height: 1.6em;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 1.5em;
	border-radius: 2em;
	background-color: #ccac86;
	box-shadow: 0 6px #999;
}

.letter:hover, #capslock:hover, #backspace:hover, #closeButton:hover, #googleButton:hover, #numberAndSpecialsButton:hover{
	cursor: pointer;
	background-color: #aa7f4b;
}

.letter:active, #capslock:active, #backspace:active, #closeButton:active, #googleButton:active, #numberAndSpecialsButton:active{
	box-shadow: 0 6px #666;
	transform: translateY(3px);
	cursor: pointer;
	background-color: #aa7f4b;
}

.bottom{
	margin-left: 2em;
}

#space{
	background-color: #ccac86;
	width: 14em;
	margin-top: 0.6em;
}

#backspace{
	background-color: #ccac86;
	border: 1px solid white;
	padding: 0.3em;
	border-radius: 2em;
	position: absolute;
	right: 0.9em;
	top: 0.5em;
	font-size: 1.4em;
	color: white;
	box-shadow: 0 6px #999;
}

#closeButton{
	background-color: #ccac86;
	border: 1px solid white;
	padding: 0.3em;
	border-radius: 2em;
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
	font-size: 1.4em;
	color: white;
	box-shadow: 0 6px #999;
}

#googleButton{
	display: block;
	text-decoration: none;
	background-color: #ccac86;
	border: 1px solid white;
	padding: 0.3em;
	border-radius: 2em;
	position: absolute;
	left: 0.4em;
	bottom: 0.4em;
	font-size: 1.3em;
	color: white;
	box-shadow: 0 6px #999;
}

#numberAndSpecialsButton{
	display: block;
	text-decoration: none;
	background-color: #ccac86;
	border: 1px solid white;
	padding: 0.3em;
	border-radius: 2em;
	position: absolute;
	left: 37%;
	top: 0.4em;
	font-size: 1.3em;
	color: white;
	box-shadow: 0 6px #999;
}

.special{
	background-color: #a3896b;
}

.shadow{
	background-color: #aa7f4b !important;
	box-shadow: 0 6px #666 !important;
	opacity: 0.9 !important;
}